[Desktop Entry]
Name=CDE
Comment=Cstaks Desktop Environment (Wayland)
Exec=/usr/local/bin/cde session
Type=Application
DesktopNames=CDE
Keywords=wm;desktop;wayland;floating
